@font-face {
  font-family: Font;
  src: url(/content/74d8b14b61735bb0d738108ea9a9530406ffcbdd4b65a4206e0cfbc1ac1500e7i0)
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  font-family: Font,serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #835000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}

#imgg {
    filter: blur(3px);
    position: absolute;
}
